button{
  width:3rem;
  height:2.5rem;
  font-size:1.5rem;
  margin:0.2rem;
  text-align:center;
  background-color:rgb(230, 138, 40);
  border:white 2px solid; 
  color:white;
  border-radius:3rem;
}
input{
  max-width:210px;
height:2.5rem;
text-align:right;
font-size:1.5rem;
margin-top:0.5rem;
border:none;
outline:none;
}
.demo
{
  border:orange 2px solid;
max-width:250px;
padding-left:1.4rem;
padding-right:1.4rem;
height:300px;
background-color:white;
}
.page1 {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;      
}